.main {
  max-width: 100%;  
}

.wrapper {
  width: 100%;
  background: red;
  -webkit-box-shadow: inset 0px 0px 300px 24px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 300px 24px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 300px 24px rgba(0,0,0,0.75);
}
