.header {
  margin-top: .8rem;
  margin-bottom: .6rem;
  /*padding-left: 10px;*/
}

.header ul li {
  list-style: none;
  margin: 0;
  /*padding: .5rem 1rem;*/
  padding-right: 3rem;
  border-radius: 3px;
}

.header ul li:hover {
  /*background-color: #444;*/
}

.header a {
  color: #c78f22;
  transition: color .2s ease;
  font-size: 1.2rem;
}

.header a:hover {
  text-decoration: none;
  color: #00bc8c;
}

.header h3 a {
  /*color: #c78f22;*/
  font-size: 4rem;
  color: #c78f22;
}

.header h3 a:hover {
  color: #00bc8c;
}


.header button {
  height: 2.2rem;
  margin-top: 2.2rem;
}
